DATABASE_NAME=lastsaas-dev
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/?appName=YourApp
JWT_ACCESS_SECRET=run-openssl-rand-hex-32
JWT_REFRESH_SECRET=run-openssl-rand-hex-32
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
RESEND_API_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
APP_NAME=LastSaaS
FROM_EMAIL=noreply@yourdomain.com
FROM_NAME=LastSaaS
SERVER_HOST=localhost
SERVER_PORT=4290
FRONTEND_URL=http://localhost:4280
VITE_PORT=4280
VITE_API_URL=http://localhost:4290
GOOGLE_REDIRECT_URL=http://localhost:4290/api/auth/google/callback
GITHUB_REDIRECT_URL=http://localhost:4290/api/auth/github/callback
MICROSOFT_REDIRECT_URL=http://localhost:4290/api/auth/microsoft/callback
